.wrapper {
    padding-top: 50px;
    background: rgb(85, 45, 177);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    align-content: flex-start;
    overflow: auto;
  }