.card {
    height: 250px;
    margin: 20px;
    position: relative;
    width: 310px;
    text-align: auto;
  }
  
  .card > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: auto;
  }
  .card .img-container > img {
    width: 100%
  }
  
  .card > .content {
    padding-left: 10px;
    padding-right: 1px;
  }  